@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --coloreO : #ff00a9;
    --blue: #008dd6;
    --colore : #f80e83;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

html {
    font-size: 66%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
    --sb-track-color: #232e33;
    --sb-thumb-color: #f60a7f;
    --sb-size: 15px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 20px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 20px;
    border: 2px solid #232e33;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

header {
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .5);
}

.logo {
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: .5s ease;
    background-image: linear-gradient(43deg, var(--colore) 0%, var(--blue) 40%, #ff4d69 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.logo:hover {
    transform: scale(1.1);
}

.blob {
    position: absolute;
    z-index: -1;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active {
    color: var(--colore);
}

section {
    min-height: 100vh;
    min-width: 100%;
}

.z0 {
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--colore);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 10%;
    box-shadow: 0 0 25px solid var(--colore);
    transition: .2s linear;
    scale: 1.5;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--colore);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
    color: #fff;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: var(--colore);
    box-shadow: 0 0 25px var(--colore);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
    right: 8;
    animation: cursor .6s infinite;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./imgs/layer1.svg');
}

.parallax {
    animation: leave both;
    animation-timeline: view(10% 100%);
}

.autoBlur {
    animation: autoBlur both;
    animation-timeline: view();
}

.titolo {
    background-image: linear-gradient(43deg, var(--colore) 0%, var(--blue) 40%, #ff4d69 100%);
    -webkit-background-clip: text;
    color: transparent;
}

/* Gestione responsiva */

@media(max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width:955px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home.home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

@media(max-width:955px) {
    nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--colore);
        border-bottom: 3px solid var(--colore);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #16161616;
        border-top: .1rem solid rgba(0, 0, 0, 1);
    }

    nav:active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a:active {
        padding: 1rem;
        border-radius: .5rem;
    }
}

/* Animazioni */

@keyframes leave {
    from {
        opacity: 1;
        transform: translateY(0) scale(1.2);
    } to {
        opacity: 0;
        transform: translateY(200px) scale(.3);
    }
}

@keyframes autoBlur{
    0% {
        filter: blur(40px);
    } 45%, 55% {
        filter: blur(0px);
    } 100% {
        filter: blur(40px);
    }
}

@keyframes cursor {
    to {
        border-right: 3px solid var(--colore);
    }
}