
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
.title-main {
    color: #ff546e;
}
* {
    text-align: center;
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
    zoom: .97;
}
.card-bg-ice {
    background-color: #d80da6;
}
body {
    background-image:url('../imgs/8351160.gif');
    background-size: cover;
    background-attachment: fixed;
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
.zoomed {
    zoom: 2;
}
.img-holder {
    position: relative;
}
.img-holder .link .calc {
    position: absolute;
    bottom: 155px;
    right: -20px;
}
.img-holder .link .saluto {
    position: absolute;
    bottom: 155px;
    right: 35px;
}
.cassette {
    zoom: 1.2;
}
a :hover {
    transform: scale(1,1);
    filter: brightness(0.7);
}
